//FILE DI STILE GENERALE
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');
@import 'Vars.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.facebook {
    color:#0F92F3;
}

.twitter {
    color: #119AFB;
}

.youtube {
    color: #cc201f;
}

.instagram {
    color: #1D56A2;
}

